.container {
    width: 1100px;
    margin: auto;
}

/* header */

header {
    background-color:rgb(92, 134, 226);
    background-image: url("../img/pattern.png");
    height: 170px;
}

.logo {
    height: 50px;
}

/* main */

h1 {
 font-size: 45px;
 margin-bottom: 0;
}

#autore {
   color:rgb(92, 134, 226); 
}

.data  {
    font-size: 11px;
}

figcaption {
    font-size: 11px;
}

.giallo {
    background-color: yellow;
}

thead {
    background-color: rgb(64, 120, 224);
    color: white;
}

.dispari {
    background-color: lightskyblue;
}