/* header */

header {
    background-color:rgb(92, 134, 226);
    background-image: url("../img/pattern.png");
    height: 170px;
}

.logo {
    height: 50px;
}

/* main */

h1 {
 font-size: 30px;
}

#autore {
   color:rgb(92, 134, 226); 
}

.data  {
    font-size: 11px;
}